{% extends "baseTabbedPage.html" %}
{% block head_tags %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Flying Simulator 2009. Search for {{searchDone}} ">
    <meta name="keywords" content="airport,icao,iata,flying,flight, flying simulator, flight simulator">
  

  
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA2aSbrhUh764ZHn_76JVUPxSwuHHOtAMO0n6VbWCDTN-_howDVhQ2IHOGR8eQtAaDX_MHS90p1nDfIA"
      type="text/javascript"></script>
      <script type="text/javascript"
		src="http://www.google.com/jsapi?key=ABQIAAAA2aSbrhUh764ZHn_76JVUPxSwuHHOtAMO0n6VbWCDTN-_howDVhQ2IHOGR8eQtAaDX_MHS90p1nDfIA"></script>
    <script type="text/javascript">
    
    //<![CDATA[
	var map ;
	var markerManager;
	var markers=[];
	var closeToMarker;
	var showMapBlowupOptions;
    var adsManager;


    function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
        map.setCenter(new GLatLng(51.883333333333, 0.23333333333333),4);
		map.setMapType(G_SATELLITE_MAP);

        markerManager = new GMarkerManager(map);

		showMapBlowupOptions= {selectedTab: 1}

		adsManager= new GAdsManager(map, "ca-pub-0799019814133735",{maxAdsOnMap:20,minZoomLevel:1} );
		adsManager.enable();

		var point;
		var marker;

		{% for airport in airports %}
		addAirport("{{ airport.name }}","{{ airport.point.lat }}","{{ airport.point.lon }}");
		{% endfor %}

		{% if pointCloseTo %}
		addCloseTo("{{ pointCloseTo.lat }}","{{pointCloseTo.lon }}");
		{% endif %}
                
        markerManager.addMarkers(markers,0);

        if(closeToMarker!=null){
        	map.setCenter(closeToMarker.getPoint(),7);
        }else if(markers.length!=0){
        	map.setCenter(markers[0].getPoint(),5);
        }
        markerManager.refresh();

      }
    }

    function addAirport(name, lat, long) {
    	var marker = createAirportMarker(new GLatLng(lat,long),name);
    	markers.push(marker);
    }
    function getAirportIcon(){
    	// Create our "tiny" marker icon
		var icon = new GIcon();
		icon.image = "http://www.flyingsim.com/img/airport.gif";
		icon.iconSize = new GSize(50, 33);
		icon.iconAnchor = new GPoint(6, 20);
		icon.infoWindowAnchor = new GPoint(5, 1);
		return icon;
    }
    

    function addCloseTo(lat,long) {
    	var marker = createMarker(new GLatLng(lat,long),"Target point");
    	closeToMarker=marker;
    	markers.push(marker);
    }

    
	function createAirportMarker(point,description) {
			var marker = new GMarker(point,getAirportIcon());
			// Show this marker's index in the info window when it is clicked
			var	innerHTML =  "<div style='font-size: 10px; font-family: Verdana; white-space: nowrap; text-align:left;'>";
			innerHTML += description;
			innerHTML += "</div>";
			GEvent.addListener(marker, "click", function() {
				var infoTabs = [
					  new GInfoWindowTab("Information", innerHTML),
					  new GInfoWindowTab("Closeup", "This is tab #2 content")
		  		];
		  		marker.openInfoWindowTabsHtml(infoTabs);
		  		//not applicable
		  		//marker.showMapBlowup(showMapBlowupOptions);
				//marker.openInfoWindowHtml(innerHTML);
				smoothMoveToLocation(point);
			});

			return marker;
		}
	function createMarker(point,description) {
		var marker = new GMarker(point);
		// Show this marker's index in the info window when it is clicked
		var	innerHTML =  "<div style='font-size: 10px; font-family: Verdana; white-space: nowrap; text-align:left;'>";
		innerHTML += description;
		innerHTML += "</div>";
		GEvent.addListener(marker, "click", function() {
			var infoTabs = [
				  new GInfoWindowTab("Information", innerHTML),
				  new GInfoWindowTab("Closeup", "This is tab #2 content")
	  		];
	  		marker.openInfoWindowTabsHtml(infoTabs);
			smoothMoveToLocation(point);
		});

		return marker;
	}	
	
	function smoothMoveToLocation(point,description){
		map.panTo(point);

		map.showMapBlowup(point);

	}
    //]]>
    </script>
{% endblock %}

{% block head_jquery %}
{{ block.super }}
  <script src="/js/jquery.galleriffic.js"></script>
  <link rel="stylesheet" href="/css/galleriffic.css" type="text/css" />
  <link rel="stylesheet" href="/css/basic_galleriffic.css" type="text/css" />
  
  		<script type="text/javascript">
			document.write("<style type='text/css'>div.navigation_gallery{width:300px;float: left;}div.content_gallery{display:block;}</style>");
		</script>
{% endblock %}


{% block body_attrs %}onload="load()" onunload="GUnload()"{{ block.super }}{% endblock %}>

{% block main_content %}
<ul>
	<div id="container">
		<ul class="menu">
			<li id="tab1" class="fade active">View airports from search</li>
			<li id="tab2" class="fade">Search</li>
			<li id="tabx"><a href="/">Back to main page</a></li>
		</ul>
		<span class="clear"></span>
		<div class="content tab1">
			<h1>{{searchDone}}</h1>
			<div id="map" style="width: 800px; height: 400px"></div>

			
			{% if airports %} 
				<p>The locations of the airports found are marked on the map above.</p>
				{% if not airports|length_is:"1" %}
				<p>We found {{airports|length}} airports matching your query which are listed below:</p>
				{% endif %}
	<script type="text/javascript"><!--
	google_ad_client = "pub-0799019814133735";
	google_ad_width = 728;
	google_ad_height = 90;
	google_ad_format = "728x90_as";
	google_ad_type = "text";
	google_ad_channel = "";
	//--></script>
	<script type="text/javascript"
	
	  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
				
				<table>
				{% for airport in airports %}
					{% if not forloop.counter|divisibleby:2 %}
					<tr>
					{% endif %}
					<td>
					
					{% if not bSingleAirport %}
						<h3>
						<a href="/airports/iata/{{airport.iata_id}}" title="More information including photos for {{ airport.name }} airport ({{ airport.iata_id }}), {{ airport.country }}" >Airport name: {{ airport.name }}</a>
						</h3>
						
					{%else%}
						<h2>Airport name: {{ airport.name }}</h2>
					{%endif%}
					
					
					The following information is known for the airport {{ airport.name }}:
					<table class="outlined">
						<tr><td>location:</td><td>
						<!--  a href="/airports/closeto/({{ airport.point.lat }},{{ airport.point.lon }})/" alt="Click here to view all airports close to this location"-->
						({{ airport.point.lat }},{{ airport.point.lon }})
						</td></tr>
						<tr><td>country:</td><td><a href="/airports/country/{{ airport.country }}" title="All airports in {{ airport.country }}/" >{{ airport.country }}</td></tr>
						<tr><td>IATA code:</td><td>{{ airport.iata_id }}</td></tr>
						<tr><td>ICAO code:</td><td>{{ airport.icao_id}}</td></tr>
						{% if airport.distanceTo %}
						<tr><td>Distance from target:</td><td>{{ airport.distanceTo|floatformat}} meters</td></tr>	
						{% endif %}
					</table>
					</td>
					{% if  forloop.counter|divisibleby:2 %}
					</tr>
					{% endif %}
				{% endfor %}
				</table>
			{% else %}
				<h3>Sorry, we could not find any airports matching your query. Message is "{{reason}}"</h3>
				<p>Please try to search again using the search tab above.
			{% endif %}
			
						{% if bSingleAirport%}
				{% for airport in airports %}
				<table><tr><td>
				<div id="page_gallery">
					<div id="container_gallery">
						<div id="header">
							<h2>Photos from flickr taken close to {{ airport.name }}</h2>
						</div>
						<!-- Start Advanced Gallery Html Containers -->
						<div id="gallery-adv" class="content_gallery">
							<div id="controls-adv" class="controls"></div>
							<div id="loading-adv" class="loader"></div>
							<div id="slideshow-adv" class="slideshow"></div>
							<!--div id="caption-adv" class="embox"></div-->
						</div>
						<div id="thumbs-adv" class="navigation_gallery">
							<ul class="thumbs noscript" id="images">
								<!--li>
									<a class="thumb" href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015.jpg" title="Title #0">
										<img src="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_s.jpg" alt="Title #0" />
									</a>
				
								</li>
								<li>
									<a class="thumb" href="http://farm2.static.flickr.com/1260/930424599_e75865c0d6.jpg" title="Title #23">
										<img src="http://farm2.static.flickr.com/1260/930424599_e75865c0d6_s.jpg" alt="Title #23" />
									</a>
								</li-->
							</ul>
						</div>
					</div>
				</div>
				</td></tr></table>
				  <script  type="text/javascript">
				  $(document).ready(function(){
					  $.getJSON("http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=fca79ade9d154d976a7f68bca5753fbd&lat={{ airport.point.lat }}&lon={{ airport.point.lon }}&radius=4&per_page=500&min_taken_date=1990-01-01+00:00:00&format=json&jsoncallback=?",
				        function(data){
				
						  if (data.stat=="fail"){
						  	//$("<p/>").text("Failed to retrieve photos due to " +data.message).appendTo("#images");
						  }else {
						  	//$("<p/>").text("Found " +data.photos.total+ " photos").appendTo("#images");
				
				
				          	$.each(data.photos.photo, function(i,photo){
								urlSmall="http://farm" + photo.farm + ".static.flickr.com/" + photo.server + "/"+ photo.id+"_"+photo.secret+"_s.jpg";
								urlBig="http://farm" + photo.farm + ".static.flickr.com/" + photo.server + "/"+ photo.id+"_"+photo.secret+".jpg";
								urlHref="http://www.flickr.com/photos/" + photo.owner +"/" + photo.id;
								img = $("<img/>").attr("src", urlSmall);
								a = $("<a/>").attr("href",urlBig).attr("class","thumb");
								a.append(img);
				
								li = $("<li/>");
								li.append(a);
				
				
								li.appendTo("#images");
								//$("<a>").attr("href",urlHref).
								//if ( i == 3 ) return false;
							  });
							//initialize gallery
				
							// Initially set opacity on thumbs and add
							// additional styling for hover effect on thumbs
							var onMouseOutOpacity = 0.67;
							$('#thumbs-adv ul.thumbs li').css('opacity', onMouseOutOpacity)
								.hover(
									function () {
										$(this).not('.selected').fadeTo('fast', 1.0);
									},
									function () {
										$(this).not('.selected').fadeTo('fast', onMouseOutOpacity);
									}
								);
				
							$(document).ready(function() {
								// Initialize Advanced Galleriffic Gallery
								var galleryAdv = $('#gallery-adv').galleriffic('#thumbs-adv', {
									delay:                  2000,
									numThumbs:              21,
									preloadAhead:           10,
									enableTopPager:         true,
									enableBottomPager:      true,
									imageContainerSel:      '#slideshow-adv',
									controlsContainerSel:   '#controls-adv',
									captionContainerSel:    '#caption-adv',
									loadingContainerSel:    '#loading-adv',
									renderSSControls:       true,
									renderNavControls:      true,
									playLinkText:           'Play Slideshow',
									pauseLinkText:          'Pause Slideshow',
									prevLinkText:           '&lsaquo; Previous Photo',
									nextLinkText:           'Next Photo &rsaquo;',
									nextPageLinkText:       'Next &rsaquo;',
									prevPageLinkText:       '&lsaquo; Prev',
									enableHistory:          true,
									autoStart:              false,
									onChange:               function(prevIndex, nextIndex) {
										$('#thumbs-adv ul.thumbs').children()
											.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
											.eq(nextIndex).fadeTo('fast', 1.0);
									},
									onTransitionOut:        function(callback) {
										$('#slideshow-adv, #caption-adv').fadeOut('fast', callback);
									},
									onTransitionIn:         function() {
										$('#slideshow-adv, #caption-adv').fadeIn('fast');
									},
									onPageTransitionOut:    function(callback) {
										$('#thumbs-adv ul.thumbs').fadeOut('fast', callback);
									},
									onPageTransitionIn:     function() {
										$('#thumbs-adv ul.thumbs').fadeIn('fast');
									}
								});
				
							});
						  }
				        });
				  });
				  </script>


  				{% endfor %}
			{% endif %}
			<p>&nbsp;</p>

		</div>
		<div class="content tab2">
			<h1>Search the airports of the world</h1>
			
			As a community service, we are providing you with information of the over 3400 airports in our systems.
			<br>You can locate an airport based on country, name, IATA code, ICAO code or close to coordinates through the form below.
			<script type="text/javascript">
				if (google.loader.ClientLocation){
					var city;
					var country;
					var lat;
					var lon;
					city= google.loader.ClientLocation.address.city;
					country=google.loader.ClientLocation.address.country;
					lat = google.loader.ClientLocation.latitude ;
					lon = google.loader.ClientLocation.longitude  ;

					document.write("<p>We have been able to identify your position close to "+ city + " in " + country);
					document.write("<br><a href=\"/airports/closeto/("+lat+","+lon+")/\">Click to view the airports closest to your current position</a>");
				}
			</script>
			<table class="outlined">
				<tr>

					<td valign="top" width="250">
						<table class="outlined">
							<tr><td>
								<form method="POST" action="/airports/search/">
								<input type="hidden" name="searchBy" value="name"/>
								Search by airport name:<br>
								<input type="text" name="query" length="50"/><input type="submit" value="Search"/>
								</form>
							</td></tr>
							<tr><td>
								<form method="POST" action="/airports/search/">
								<input type="hidden" name="searchBy" value="iata"/>
								Search by airport IATA id:<br>
								<input type="text" name="query" length="50"/><input type="submit" value="Search"/>
								</form>
							</td></tr>
							<tr><td>
								<form method="POST" action="/airports/search/">
								<input type="hidden" name="searchBy" value="icao"/>
								Search by airport ICAO id:<br>
								<input type="text" name="query" length="50"/><input type="submit" value="Search"/>
								</form>
							</td></tr>
							<tr><td>
								<form method="POST" action="/airports/search/">
								<input type="hidden" name="searchBy" value="closeto"/>
								Search close to latitude and longitude:<br>
								<table>
								<tr><td>Latitude:</td><td><input type="text" name="lat" length="10" size="8"/></td></tr>
								<tr><td>Longitude:</td><td><input type="text" name="lon" length="10" size="8"/><input type="submit" value="Search"/></td></tr>								
								</table>
								</form>
							</td></tr>															
						</table>
					</td>
					<td valign="top">
						Search by country:<br>
						{% for country in countries %}
							<a href="/airports/country/{{country.name}}">{{country.name}}</a>,&nbsp;
						{% endfor %}
					
					</td>					
				</tr>
			</table>
		</div>
		<div class="content tabx">
					<h1>Dummy text</h1>
					Click to get back to <a href="/">start page</a>
		</div>
	</div>






{% endblock %}
